
.form-type-scripture-verse-picker select {
    max-width: 100%;
}

/* display the bible-books in a neat 3-column layout  */
#lwc-browse-main ul {
	list-style : none;
	padding : 0px;  
	margin : 0px;
}

#lwc-browse-main {
    -webkit-column-count: 3; /* Chrome, Safari, Opera */
    -moz-column-count: 3; /* Firefox */
    column-count: 3;
	padding : 10px;
}

#lwc-browse-main li.lwc-browse-count-0 {
	/*display:none;*/   /*  we could potentially hide those entries without any lwcs linked to them */
}

/* alternative widget for selecting scripture - normal HTML, not form elements.   Regular form elements hidden. */
.scripture-translation-alt,
.scripture-book-alt,
.scripture-verse-alt,
.scripture-chapter-alt
{
	background-color : #dddddd;
	display : inline-block;
	padding : 5px;
	border-radius : 5px;
	margin : 2px;
}

/* table-style lookup window */
.scripture-translation-selector,
.scripture-book-selector,
.scripture-chapter-selector,
.scripture-verse-selector
 {
    position: absolute;
	z-index : 1;
    float: none;
    display: none;  /* block after unhiding! */
    clear: both;
    border: 1px solid black;
    padding: 5px;
    background-color: white;
    min-width: 400px;
}

/* multiple columns */
.scripture-book-selector {
    -webkit-column-count:3;
    -moz-column-count:3;
    -ms-column-count:3;
    -o-column-count:3;
    column-count:3;
    -webkit-column-gap:15px;
    -moz-column-gap:15px;
    -ms-column-gap:15px;
    -o-column-gap:15px;
    column-gap:15px;
    columns:3;
}

/*verse-picker chapter&verse selector outer class */
.scripture-chapter-selector {
	
}

.scripture-verse-pane.activepane .scripture-verse-pane-heading {
	font-weight : bold;
}


.scripture-verse-picker-chapter,
.scripture-verse-picker-vers
 {
	/* left-most element in the verse-picker, spanning both heading and chapters */
	display : inline-block;
}

.scripture-verse-pane {
	max-width : 30%;
	overflow-y : hidden;  /* shows a scroll-bar */
	vertical-align : top;
	display : inline-block;
}
.scripture-verse-pane.activepane {
	min-width : 60%;   /* need to leave a bit for margin etc. */   
	overflow-y : visible;
}

.scripture-chapter-selector table {
	width : 10%   /* as small as possible */
}

.scripture-chapter-selector td {
	text-align : center; 
	padding : 4px 6px;    /* default is 4 9 which is too much */
	margin : 4px;
	border : 2px solid #fff;  /* white */
	max-width : 25px;    /* check psalms and specifically psalm 119 here */
}

.scripture-chapter-selector td.selected,
.scripture-chapter-selector td.selected:hover {
	background-color : #F0E68C;   /* khakish */
}

/* the .region-content portion added explicitly so that the .region-content ul style does not overwrite this */
.scripture-translation-selector ul,
.scripture-book-selector ul,
.region-content .scripture-translation-selector ul,
.region-content .scripture-book-selector ul  {
    list-style: none;
	padding : 0px;
	margin : 0px;
}

/* hover mouse over options for verse-picker */
.scripture-translation-selector ul li:hover,
.scripture-book-selector ul li:hover,
.scripture-chapter-selector td:hover
 {
    background: #dddddd;
}

.scripture-translation-selector .transabbr {
    display: inline-block;
    width: 50px;
}

.scripture-translation-selector .transdesc {
    display: inline-block;
    width: 330px;
}

/* hide the bookID */
.scripture-book-selector .bookid	{
		display: none;
}


